.login {
	background-color: #333d47;
	color: #eeeeee;
}
.login form {
	background: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.login form .input, .login input[type=text] {
	padding: 10px !important;
	line-height:26px !important;
	outline: none !important;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: 1px solid #ffdb00;
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    -webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #333d47 !important;
	color: #ffdb00;
}
.login form .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333d47 inset !important;
    -webkit-text-fill-color: #ffdb00 !important;
}
.login form .input:focus  {
	border-bottom: 1px solid #ffdb00;
}
.login form .forgetmenot,
.login form .submit,
.login form .submit input {
	float: none !important;
}
.login form .submit input {
 	display: block;
 	width: 100%;
 	padding: 15px 20px !important;
 	margin: 10px 0;
 	font-size: 22px !important;
 	line-height: 1 !important;
 	height: auto !important;
 	background-color: #ffdb00;
 	border:0;
 	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    -webkit-box-shadow: none !important;
	box-shadow: none !important;
    text-shadow: none;
}
.login form .submit input:hover {
	background-color: #7b9e3a; 
}
.login h1 a {
	background-size: 140px 120px !important;
	height: 120px !important;
	width: auto !important;
	pointer-events: none;
    background-image: url(../images/login.png) !important;
    padding-bottom: 30px;
}