/*!
Theme Name: Blank Theme
Theme URI: https://ilk.agency
Version: 1.0
Description: Custom theme template written for custom build websites at ilk agency. 
Author: Michael Garlick
Author URI: http://michaelgarlick.com
Tags: ilk, ilk agency
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "_partials/booty"; 
@import "_partials/animation"; // optional
@import "_partials/mixins"; // optional

body {
	font-size: 16px;
}

// OPTIONAL set margins for all text/inline elements to a regimented downwards margin push (helps with vertical alignment)
h1, h2, h3, h4, h5, h6, p, ul, ol, table {
	margin-top: 0;
	margin-bottom: 20px;
}

header#header {
	background: #eee;
	padding: 60px 0;
}

nav {
	ul {
		list-style:none;
		margin: 0;
		padding: 0;
	}
}

.site-title { 
	font-size: 32px;
	font-weight: bold;
}

main {
	padding: 60px 0;
}

aside {
	border-left:1px solid #ddd;
}

footer {
	padding: 60px 0 300px 0;
	background-color: #333;
	color: #ddd;
}